/*
*  ============================
*    [settings scss]
*  ============================
*/
/*
*  ============================
*
*    [animations]
*/
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*
*  ============================
*    [Fonts]
*  ============================
*/
@font-face {
  font-family: 'Anton-Regular';
  src: url("/assets/fonts/Anton-Regular.woff2") format("woff2"), url("/assets/fonts/Anton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media screen and (min-width: 1010px) {
  .-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.-desktop {
  display: none;
}

@media screen and (min-width: 1010px) {
  .-desktop {
    display: flex;
  }
}

.-mobile {
  display: flex;
}

@media screen and (min-width: 1010px) {
  .-mobile {
    display: none;
  }
}

.-n-p {
  padding: 0;
}

.-n-m {
  margin: 0;
}

.-offset {
  margin-left: 0;
  width: 100%;
}

@media screen and (min-width: 1010px) {
  .-offset {
    margin-left: -40px;
    width: calc(1010px + 40px);
  }
}

@media screen and (min-width: 1210px) {
  .-offset {
    margin-left: -60px;
    width: calc(1210px + 60px);
  }
}

@media screen and (min-width: 1532px) {
  .-offset {
    margin-left: -80px;
    width: calc(1532px + 80px);
  }
}

.-offset-right {
  margin-right: 0;
}

@media screen and (min-width: 1010px) {
  .-offset-right {
    margin-right: -40px;
  }
}

@media screen and (min-width: 1210px) {
  .-offset-right {
    margin-right: -60px;
  }
}

@media screen and (min-width: 1532px) {
  .-offset-right {
    margin-right: -80px;
  }
}

.-offset-left {
  margin-left: 0;
}

@media screen and (min-width: 1010px) {
  .-offset-left {
    margin-left: -40px;
  }
}

@media screen and (min-width: 1210px) {
  .-offset-left {
    margin-left: -60px;
  }
}

@media screen and (min-width: 1532px) {
  .-offset-left {
    margin-left: -80px;
  }
}

.-fullset {
  margin-left: -80px;
  width: calc(100% + 160px);
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (min-width: 1010px) {
  .-fullset {
    margin-left: -40px;
    width: calc(100% + 80px);
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1210px) {
  .-fullset {
    margin-left: -60px;
    width: calc(100% + 120px);
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (min-width: 1532px) {
  .-fullset {
    margin-left: -80px;
    width: calc(100% + 160px);
    padding-right: 80px;
    padding-left: 80px;
  }
}

.-scale-up {
  transform: scale(1);
}

.-uppercase {
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #61e7ff;
  font-size: 16px;
  font-family: 'OpenSans-Light', sans-serif;
  text-transform: none;
}

.text--gradient {
  background: radial-gradient(97.96% 67.96% at 35.39% 18.08%, #61e7ff 0%, #858bff 46.27%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-x: hidden;
}

.home {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: transparent;
}

.container {
  padding: 70px 5%;
}

.page-content {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("/assets/images/jpg/page-background.jpg");
  background-position: center center;
  background-size: auto;
  width: 100vh;
  height: 100vh;
}

.logos {
  text-align: center;
  background: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
}

.logos__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos p {
  color: #446fc2;
  font-size: 18px;
}

.logos img {
  width: 30%;
}

h1,
h2,
h3,
h4,
h5,
p,
.decor {
  margin-bottom: 20px;
  margin-top: 0;
}

@media screen and (min-width: 1532px) {
  .decor {
    margin-bottom: 35px;
  }
}

.button {
  margin-bottom: 30px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

a {
  text-decoration: none;
  outline: 0;
  font-family: 'Anton-Regular', sans-serif;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: #61e7ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton-Regular', sans-serif;
  width: 100%;
  line-height: 1.1;
  color: white;
  transition: color 300ms ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 65px;
}

@media screen and (min-width: 1010px) {
  h1 {
    font-size: 75px 75px;
  }
}

@media screen and (min-width: 1210px) {
  h1 {
    font-size: 105px;
  }
}

h2 {
  font-size: 50px;
}

@media screen and (min-width: 1010px) {
  h2 {
    font-size: 55px 75px;
  }
}

@media screen and (min-width: 1210px) {
  h2 {
    font-size: 75px;
  }
}

h3 {
  font-size: 45px;
}

@media screen and (min-width: 1010px) {
  h3 {
    font-size: 55px 75px;
  }
}

@media screen and (min-width: 1210px) {
  h3 {
    font-size: 75px;
  }
}

h4 {
  font-size: 20px;
}

@media screen and (min-width: 1010px) {
  h4 {
    font-size: 20px 20px;
  }
}

@media screen and (min-width: 1210px) {
  h4 {
    font-size: 26px;
  }
}

h6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

h6 {
  font-size: 12px;
}

@media screen and (min-width: 1010px) {
  h6 {
    font-size: 12px 12px;
  }
}

@media screen and (min-width: 1210px) {
  h6 {
    font-size: 12px;
  }
}

p {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: inherit;
  line-height: 28px;
  color: white;
  font-size: 20px;
}

strong {
  font-weight: 100;
}

blockquote {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 1010px) {
  blockquote {
    font-size: 15px;
  }
}

@media screen and (min-width: 1210px) {
  blockquote {
    font-size: 17px;
  }
}

@media screen and (min-width: 1532px) {
  blockquote {
    font-size: 20px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  background-repeat: no-repeat;
  background-position: left 6px;
  padding-left: 36px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1010px) {
  .list li {
    background-position: left 3px;
    font-size: 14px;
  }
}

menu {
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
}

.decor {
  font-family: 'Anton-Regular', sans-serif;
  font-size: 20px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: #61e7ff;
  line-height: 17px;
  letter-spacing: 2px;
}

@media screen and (min-width: 1010px) {
  .decor {
    font-size: 16px;
  }
}

@media screen and (min-width: 1010px) and (min-width: 970px) {
  .decor {
    font-size: calc( 16px + 2 * ((100vw - 970px) / 950));
  }
}

@media screen and (min-width: 1010px) and (min-width: 1920px) {
  .decor {
    font-size: 18px;
  }
}

/*
*  ============================
*    [Button]
*  ============================
*/
.button {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url("/assets/images/svg/shape.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 200ms;
  cursor: pointer;
}

.button:hover {
  transition: all 200ms;
  background-image: url("/assets/images/svg/shape-arrow.svg");
}

.button:hover span {
  left: 65px;
}

.button span {
  position: absolute;
  left: 25px;
  top: 11px;
  color: #fff;
  font-family: 'Anton-Regular', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  white-space: nowrap;
}

.button .hide {
  display: none;
}

/*
*  ============================
*    [ButtonSimple]
*  ============================
*/
.buttonSimple {
  width: 50px;
  height: 50px;
  background-image: url("/assets/images/svg/shape-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms;
}

.buttonSimple:hover {
  transition: all 200ms;
  background-image: url("/assets/images/svg/shape-arrow--hover.svg");
}

/*
*  ============================
*    [HamburgerMenu]
*  ============================
*/
.menu {
  position: relative;
  height: 60px;
  width: 60px;
  background-image: url("/assets/images/svg/shape.svg");
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  /*--- Close Button 2 ---*/
}

.menu__icon {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__line {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  width: 30px;
  height: 5px;
  pointer-events: none;
}

.menu__line--1 {
  top: 0;
}

.menu__line--2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu__line--3 {
  bottom: 0;
}

.menu--close2 .menu__line--1 {
  transition: transform 0.3s ease-in-out, top 0.2s ease-in-out 0.3s;
}

.menu--close2 .menu__line--1:before {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 3px;
  transition: transform 0.1s ease-in-out 0.2s;
  z-index: 10;
}

.menu--close2 .menu__line--2 {
  transition: opacity 0s ease-in-out 0.3s;
}

.menu--close2 .menu__line--3 {
  transition: oapcity 0s ease-in-out 0.3s, bottom 0.2s ease-in-out 0.3s;
}

.menu--close2.open .menu__line--1 {
  top: 8.5px;
  transform: rotate(135deg);
  transition: top 0.3s ease-in-out, transform 0.3s linear 0.3s;
}

.menu--close2.open .menu__line--1:before {
  display: flex;
  background-size: contain;
  background-image: url("../../assets/images/png/path4.png");
  height: 30px;
  width: 30px;
  top: -13px;
  transform: rotate(226deg);
  animation: display 2s;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu--close2.open .menu__line--2 {
  opacity: 0;
  transition: opacity 0s ease-in-out 0.3s;
}

.menu--close2.open .menu__line--3 {
  bottom: 8.5px;
  opacity: 0;
  transition: bottom 0.3s ease-in-out, opacity 0s ease-in-out 0.3s;
}

@media screen and (min-width: 1010px) {
  .menu {
    background-image: none;
  }
  .menu__line img {
    filter: invert(1);
  }
}

/*
*  ============================
*    [sections scss]
*  ============================
*/
/*
*  ============================
*    [navigation menu] 
*  ============================
*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  min-width: -webkit-fill-available;
  padding-top: 0 !important;
}

.logo {
  width: 276px;
  height: 61px;
}

@media screen and (max-width: 414px) {
  .logo {
    width: auto;
    height: 55px;
  }
}

@media screen and (max-width: 359px) {
  .logo {
    width: auto;
    height: 45px;
  }
}

/*
*  ============================
*    [hero section] 
*  ============================
*/
.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
  min-height: 900px;
  background-image: url("/assets/images/jpg/hero-image.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
}

.hero-section__text h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 75px;
}

.socials a {
  margin: 0 15px;
}

@media screen and (min-width: 480px) {
  .hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .hero-section__text {
    width: 80%;
  }
  .socials {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .hero-section__text {
    width: 70%;
  }
  .socials {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 1010px) {
  .hero-section.container {
    padding: 40px 0px 40px 5%;
  }
  .hero-section__text {
    width: 40%;
  }
  .socials {
    flex-direction: column;
  }
  .socials a {
    margin: 5px 0;
  }
}

/*
*  ============================
*    [about us section] 
*  ============================
*/
.about {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 1000px;
}

.about__image img {
  width: 100%;
  height: auto;
}

/*
*  ============================
*    [games section] 
*  ============================
*/
.games {
  width: auto;
  min-height: 1000px;
}

.games__text {
  text-align: center;
  margin-bottom: 50px;
}

.games .game-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.games .game__item {
  position: relative;
  margin-bottom: 60px;
}

.games .game__item__image {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.games .game__item__image img {
  max-width: 100%;
  width: 78%;
  height: auto;
}

.games .game__item__text {
  top: 25%;
  position: absolute;
  z-index: 2;
  max-width: 242px;
}

@media screen and (min-width: 768px) {
  .games .game__item__image img {
    width: 65%;
  }
}

/*
*  ============================
*    [footer] 
*  ============================
*/
.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  background: radial-gradient(84.79% 84.79% at 52.38% -10.86%, #0a4399 0.04%, #0c0f41 100%), #0e124d;
  padding-top: 300px;
  z-index: 1;
}

.footer .sitemap {
  margin-bottom: 50px;
}

.footer .sitemap__links {
  display: flex;
  justify-content: space-between;
}

.footer .sitemap a {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}

.footer .sitemap a:hover {
  color: #61e7ff;
}

.footer .keepInTouch {
  margin-bottom: 50px;
}

.footer .socials {
  width: 45%;
}

.footer .socials a {
  margin-left: 0;
}

.footer .socials__links {
  margin-left: -5px;
}

.footer .location {
  width: 48%;
}

.footer .logo {
  margin-bottom: 30px;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright p {
  color: #446fc2;
}

.footer .copyright span {
  color: #fff;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h4 {
  color: #446fc2;
  letter-spacing: 2px;
}

.footer p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 480px) {
  .footer .sitemap {
    margin-bottom: 50px;
  }
  .footer .sitemap__links {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}

/*
*  ============================
*    [team section] 
*  ============================
*/
.team {
  width: auto;
  min-height: 1000px;
  margin-bottom: -150px;
}

.team__text {
  margin-bottom: 30px;
}

.team-logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.team__items {
  max-height: 1500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.team__item {
  cursor: pointer;
}

.team__item__title {
  position: relative;
  top: 25px;
  font-family: 'Anton-Regular', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 115px;
  line-height: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.35);
  -webkit-text-fill-color: transparent;
}

.team__item__image {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.team__item__image img {
  max-width: 100%;
  width: 65%;
  height: auto;
}

.team__item__text {
  position: relative;
  z-index: 5;
  max-width: 285px;
  margin-top: -50px;
}

.team__item__text h3 {
  margin-bottom: 8px;
}

.team__item__text p {
  font-size: 16px;
  opacity: 0.7;
}

.team__item:hover .team__item__title {
  background: radial-gradient(97.96% 67.96% at 35.39% 18.08%, #61e7ff 0%, #858bff 46.27%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team__item:hover .team__item__text p {
  opacity: 1;
}

.team__item:hover .decor {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

.team__item .decor {
  color: #858bff;
}

@media screen and (min-width: 480px) {
  .team__item {
    margin-bottom: 50px;
  }
  .team__item__image img {
    width: 50%;
  }
  .team__item__text {
    margin-top: -90px;
  }
}

@media screen and (min-width: 768px) {
  .team__item__title {
    font-size: 125px;
  }
  .team__item__text {
    margin-top: -120px;
  }
}

/*
*  ============================
*    [banner] 
*  ============================
*/
.banner {
  position: relative;
  bottom: -201px;
  background: transparent;
  padding: 0 5%;
  z-index: 3;
}

.banner::before {
  position: absolute;
  content: '';
  background-image: url("/assets/images/png/phone.png");
  left: 0;
  background-repeat: no-repeat;
  background-position: 81% 62%;
  background-size: 112%;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  z-index: 1;
}

.banner__top {
  z-index: 3;
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/assets/images/png/banner-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 820px;
}

@media screen and (min-width: 480px) {
  .banner::before {
    background-size: 100%;
  }
}

@media screen and (min-width: 768px) {
  .banner__top {
    width: 70%;
  }
  .banner::before {
    left: auto;
    background-size: 85%;
    background-position: 82% 70%;
  }
}
/*# sourceMappingURL=main.css.map */