/*
*  ============================
*    [hero section] 
*  ============================
*/

.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
  //height: 100vh;
  min-height: 900px;
  background-image: url('/assets/images/jpg/hero-image.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;

  &__text {
    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 75px;
    }
  }
}

.socials {
  //margin-bottom: $content-margin-bottom;
  a {
    margin: 0 15px;
  }
}

@media screen and (min-width: $screen-xs) {
  .hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    &__text {
      width: 80%;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: $screen-tablet) {
  .hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    &__text {
      width: 70%;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
