/*
*  ============================
*    [hero section] 
*  ============================
*/

.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
  height: 100vh;
  min-height: 1000px;
  background-image: url('/assets/images/jpg/hero-image.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;

  &__text {
    h1 {
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 75px;
    }
  }
}

.socials {
  //margin-bottom: $content-margin-bottom;
  a {
    margin: 0 15px;
  }
}
