/*
*  ============================
*    [team section] 
*  ============================
*/

.team {
  &__text {
    text-align: center;
    margin-bottom: 50px;
  }
  &-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    margin-bottom: 60px;
    &__image {
      position: relative;
      display: flex;
      justify-content: flex-end;
      img {
        max-width: 100%;
        width: 260px;
        height: auto;
      }
    }

    &__text {
      top: 25%;
      position: absolute;
      z-index: 2;
      max-width: 242px;
    }
    .decor {
      font-size: 20px;
    }
  }
}
