$white: #fff;
$black: #000;
$seledin: #61e7ff;
$blue: #446fc2;
$purple: #858bff;
$color-white-45: rgba(255, 255, 255, 0.45);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-60: rgba(255, 255, 255, 0.6);
