/*
*  ============================
*    [HamburgerMenu]
*  ============================
*/

.menu {
  &__button {
    position: relative;
    height: 60px;
    width: 60px;
    background-image: url('/assets/images/svg/shape--white.svg');
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;

    .hamburger-menu {
      position: absolute;
      top: -4px;
      right: 14px;
      z-index: 20;

      #menu__toggle {
        opacity: 0;
        width: 57.5px;
        height: 58px;
        position: absolute;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        width: 20px;
        height: 4px;
        position: relative;
        top: -2px;
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
        width: 35px;
        height: 4px;
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        width: 35px;
        height: 4px;
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        top: 5px;
      }

      .menu__btn {
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        width: 46px;
        height: 67px;

        cursor: pointer;
        z-index: 1;
      }

      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        border-radius: 1.5px;
        width: 31px;
        height: 4px;

        background-color: $black;

        transition-duration: 0.25s;
      }

      .menu__btn > span {
        width: 20px;
        height: 4px;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    }
  }

  &__mobile {
    width: 100%;
    position: fixed;
    right: -100%;
    height: 100%;
    top: 0;
    transition: all 500ms;
    overflow-y: scroll;
    z-index: 10;
    border: 1px solid $color-white-45;
    background-color: rgba(5, 9, 71, 255);

    &__wrapper {
      background-image: url('/assets/images/jpg/hero-image-blur.jpg');
      background-size: auto;
      background-repeat: no-repeat;
      position: relative;
      background-position: center 80%;
      min-height: calc(100vh - 105px);
      top: 105px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      &.container {
        padding: 130px 5% 30px 5%;
      }
    }

    &--active {
      right: 0;
      transition: all 500ms;
    }

    .socials {
      text-align: center;
      margin-top: 70px;
      padding-bottom: 30px;

      h4 {
        color: $blue;
      }
    }

    &__links {
      padding-top: 50px;
      li {
        text-align: center;
        margin-bottom: 10px;
      }

      a {
        color: $white;
        font-size: 35px;
        text-transform: uppercase;
        &:hover {
          color: $seledin;
        }
      }
    }

    .logos {
      z-index: 10;
      text-align: left;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .menu {
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 108px;
      background-image: none;
      //width: auto;

      &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      h4 {
        font-size: 20px;
        margin-bottom: 0 !important;
      }

      .hamburger-menu {
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
          background-color: $white;
        }
      }
    }

    &__mobile {
      overflow-x: hidden;

      &__links {
        a {
          font-size: 28px;
        }
      }

      &__wrapper {
        background-position: center 84%;
      }

      &__items {
        width: 100%;
      }

      .socials {
        display: flex;
        padding-bottom: 160px;
        flex-direction: column;
      }

      .logos {
        p {
          max-width: 280px;
        }
        img {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-md) {
  .menu {
    &__mobile {
      width: 33%;
      .logos {
        img {
          width: 30%;
        }
        p {
          line-height: normal;
          max-width: 120px;
          font-size: 11px;
          margin-bottom: 0;
        }
        &__items {
          width: 67%;
        }
      }

      .socials {
        padding-bottom: 120px;
      }
    }
  }
}
@media screen and (min-width: $screen-lg) {
  .menu {
    &__mobile {
      &__links {
        a {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .menu {
    &__mobile {
      .logos {
        &__items {
          width: 73%;
        }
      }
    }
  }
}

@media screen and (min-width: 2048px) {
  .menu {
    &__mobile {
      width: 25%;
      &__wrapper {
        background-size: 562%;
      }
      .logos {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
