.-centered {
  @media screen and (min-width: $screen-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.-desktop {
  display: none;

  @media screen and (min-width: $screen-sm) {
    display: flex;
  }
}

.-mobile {
  display: flex;

  @media screen and (min-width: $screen-sm) {
    display: none;
  }
}

.-n-p {
  padding: 0;
}

.-n-m {
  margin: 0;
}

.-offset {
  margin-left: 0;
  width: 100%;

  @media screen and (min-width: $screen-sm) {
    margin-left: -40px;
    width: calc(#{$screen-sm} + 40px);
  }
  @media screen and (min-width: $screen-md) {
    margin-left: -60px;
    width: calc(#{$screen-md} + 60px);
  }
  @media screen and (min-width: $screen-lg) {
    margin-left: -80px;
    width: calc(#{$screen-lg} + 80px);
  }
}

.-offset-right {
  margin-right: 0;

  @media screen and (min-width: $screen-sm) {
    margin-right: -40px;
  }
  @media screen and (min-width: $screen-md) {
    margin-right: -60px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-right: -80px;
  }
}

.-offset-left {
  margin-left: 0;

  @media screen and (min-width: $screen-sm) {
    margin-left: -40px;
  }
  @media screen and (min-width: $screen-md) {
    margin-left: -60px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-left: -80px;
  }
}

.-fullset {
  margin-left: -80px;
  width: calc(100% + 160px);
  padding-right: 40px;
  padding-left: 40px;

  @media screen and (min-width: $screen-sm) {
    margin-left: -40px;
    width: calc(100% + 80px);
    padding-right: 40px;
    padding-left: 40px;
  }
  @media screen and (min-width: $screen-md) {
    margin-left: -60px;
    width: calc(100% + 120px);
    padding-right: 60px;
    padding-left: 60px;
  }
  @media screen and (min-width: $screen-lg) {
    margin-left: -80px;
    width: calc(100% + 160px);
    padding-right: 80px;
    padding-left: 80px;
  }
}

// image scale up
.-scale-up {
  transform: scale(1);
}

.-uppercase {
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
